<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown" id="dashboard">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li id="dashboardDefault">
                        <a asp-action="Index" asp-area="Admin" asp-controller="AdminHome">Default</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" id="dropdownItem">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-box-open"></i>
                    </span>
                    <span class="title">Items</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li id="UnitsList">
                        <a asp-action="UnitsList" asp-controller="AdminWarehouse" asp-area="Admin">Unit</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li id="UnitpaysList">
                        <a asp-action="UnitpaysList" asp-controller="AdminWarehouse" asp-area="Admin">Unit Payment</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li id="ParentsList">
                        <a asp-action="ParentsList" asp-controller="AdminWarehouse" asp-area="Admin">Type</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li id="LevelsList">
                        <a asp-action="LevelsList" asp-controller="AdminWarehouse" asp-area="Admin">Type of Category</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li id="CategoriesList">
                        <a asp-action="CategoriesList" asp-controller="AdminWarehouse" asp-area="Admin">Category</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li id="ProductsList">
                        <a asp-action="ProductsList" asp-controller="AdminWarehouse" asp-area="Admin">Product</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" id="dropdownWarehouse">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-warehouse"></i>
                    </span>
                    <span class="title">Warehouse</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li id="ProductsList2">
                        <a asp-action="ProductsList2" asp-controller="AdminWarehouse" asp-area="Admin">Products List 2</a>
                    </li>
                </ul>
                @*<ul class="dropdown-menu">
                    <li id="CustomerList">
                        <a asp-action="CustomerList" asp-controller="AdminPermission" asp-area="Admin">Customer List</a>
                    </li>
                </ul>*@
            </li>
            <li class="nav-item dropdown" id="dropdownUser">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-users-cog"></i>
                    </span>
                    <span class="title">User</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li id="EmployeeList">
                        <a asp-action="EmployeeList" asp-controller="AdminPermission" asp-area="Admin">Employee List</a>
                    </li>
                </ul>
                <ul class="dropdown-menu">
                    <li id="CustomerList">
                        <a asp-action="CustomerList" asp-controller="AdminPermission" asp-area="Admin">Customer List</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown" id="dropdownAuthorization">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="title">Authorization</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li id="RoleList">
                        <a asp-action="RoleList" asp-controller="AdminPermission" asp-area="Admin">Role List</a>
                    </li>
                    <li id="ClaimList">
                        <a asp-action="ClaimList" asp-controller="AdminPermission" asp-area="Admin">Claim List</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>