@*@model IEnumerable<WebApplication1.ViewModels.RoleListViewModel>*@
@*@model PagedList.Core.IPagedList<WebApplication1.ViewModels.RoleListViewModel>*@
@{
    //int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Employee List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/assets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">

    <!-- Core css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
}

<div class="page-header">
    <h2 class="header-title">Employee List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" asp-area="Admin" asp-controller="AdminHome" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" href="#">User</a>
            <span class="breadcrumb-item active">Employee List</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Role</option>
                            <option value="all">All</option>
                            <option value="homeDeco">Home Decoration</option>
                            <option value="eletronic">Eletronic</option>
                            <option value="jewellery">Jewellery</option>
                        </select>
                    </div>
                    <div class="m-b-10">
                        <select class="custom-select" style="min-width: 180px;">
                            <option selected>Status</option>
                            <option value="all">All</option>
                            <option value="inStock">Thử việc</option>
                            <option value="outOfStock">Đang làm</option>
                            <option value="outOfStock">Đã nghỉ việc</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-primary">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Add Employee</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Department</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            #31
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-9.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Gray Sofa</h6>
                            </div>
                        </td>
                        <td>Home Decoration</td>
                        <td>$912.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Still Working</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #32
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-10.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Beat Headphone</h6>
                            </div>
                        </td>
                        <td>Eletronic</td>
                        <td>$137.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Still Working</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #33
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-11.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Wooden Rhino</h6>
                            </div>
                        </td>
                        <td>Home Decoration</td>
                        <td>$912.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Still Working</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #34
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-12.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Red Chair</h6>
                            </div>
                        </td>
                        <td>Home Decoration</td>
                        <td>$128.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>Has Retired</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #35
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-13.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Wristband</h6>
                            </div>
                        </td>
                        <td>Eletronic</td>
                        <td>$776.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>Has Retired</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #36
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-14.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Charging Cable</h6>
                            </div>
                        </td>
                        <td>Eletronic</td>
                        <td>$119.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Still Working</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            #37
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid rounded" src="~/assets/images/others/thumb-15.jpg" style="max-width: 60px" alt="">
                                <h6 class="m-b-0 m-l-10">Three Legs</h6>
                            </div>
                        </td>
                        <td>Home Decoration</td>
                        <td>$199.00</td>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Still Working</div>
                            </div>
                        </td>
                        <td class="text-right">
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right">
                                <i class="anticon anticon-edit"></i>
                            </button>
                            <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                <i class="anticon anticon-delete"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Core Vendors JS -->
    <script src="~/assets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/pages/e-commerce-order-list.js"></script>
    <!-- Core JS -->
    <script src="~/assets/js/app.min.js"></script>
}

