@{
    ViewData["Title"] = "Verify Email - Admin Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Login - Pos admin template</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/adminassets/img/favicon.png">

    <link rel="stylesheet" href="~/adminassets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/adminassets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/adminassets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/adminassets/css/style.css">
</head>
<body class="account-page">

    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset" style="justify-content:center; align-content:center; width:100%; text-align:center">
                        <h2>A verification link has sent to your email</h2>
                        <hr/>
                        <h5>Please check your email and click on the link to verify and continue to login</h5>
                    </div>
                </div>
                <div class="login-img">
                    <img src="~/adminassets/img/login.jpg" alt="img">
                </div>
            </div>
        </div>
    </div>


    <script src="~/adminassets/js/jquery-3.6.0.min.js"></script>

    <script src="~/adminassets/js/feather.min.js"></script>

    <script src="~/adminassets/js/bootstrap.bundle.min.js"></script>

    <script src="~/adminassets/js/script.js"></script>
</body>
</html>