@model PagedList.Core.IPagedList<WebApplication1.ViewModels.CategoriesListViewModel>

<table class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Category Name</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        #@user.CatId
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <strong>@user.CatName</strong>
                        </div>
                    </td>
                    <td>
                        @if (user.Published == true)
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Published</div>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>Non-Published</div>
                            </div>
                        }
                    </td>
                    <td class="text-right">
                        <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-controller="AdminWarehouse" asp-area="Admin" asp-action="DetailsCategory" asp-route-id="@user.CatId">
                            <i class="anticon anticon-eye"></i>
                        </a>
                        <a class="btn btn-icon btn-hover btn-sm btn-rounded" onclick="return confirm('Are you sure?')" asp-action="DeleteRole" asp-area="Admin" asp-controller="AdminPermission" asp-route-id="@user.CatId">
                            <i class="anticon anticon-delete"></i>
                        </a>
                        <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-controller="AdminWarehouse" asp-area="Admin" asp-action="EditCategory" asp-route-id="@user.CatId">
                            <i class="anticon anticon-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
