@model WebApplication1.ViewModels.CategoriesListViewModel

@{
    ViewData["Title"] = "Edit Category : " + Model.CatName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Styles{
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.png">

    <!-- page css -->
    <link href="~/assets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendors/select2/select2.css" rel="stylesheet">
    <link href="~/assets/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/assets/summernote/summernote.css" rel="stylesheet" />
    <!-- Core css -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
}

<div class="page-header">
    <h2 class="header-title">Category Edit</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item">
                <span class="icon-holder">
                    <i class="fas fa-warehouse"></i>
                </span>
                <span class="title">Warehouse</span>
            </a>
            <a class="breadcrumb-item" asp-action="CategoriesList" asp-area="Admin" asp-controller="AdminWarehouse">List of Categories</a>
            <span class="breadcrumb-item">Category Edit : @Model.CatName</span>
        </nav>
    </div>
</div>
<form asp-controller="AdminWarehouse" asp-area="Admin" asp-route-id="@Model.CatId" asp-action="EditCategory" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CatId" />
    <input type="hidden" asp-for="Thumb" />
    <input type="hidden" asp-for="Alias" />
<div class="page-header no-gutters has-tab">
    <div class="d-md-flex m-b-15 align-items-center justify-content-between">
        <div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 100px; width: 100px">
                <img src="~/images/imgsCategory/@Model.Thumb" alt="">
            </div>
            <div class="m-l-15">
                <h4 class="m-b-0">CATEGORY NAME : @Model.CatName</h4>
                <p class="text-muted m-b-0">Category code: #@Model.CatId</p>
            </div>
        </div>
        <div class="m-b-15">
            <div class="m-b-15">
                    <button type="submit" class="btn btn-primary btn-tone m-r-5" asp-controller="AdminWarehouse" asp-area="Admin" asp-action="EditCategory" asp-route-id="@Model.CatId">
                    <span>Save</span>
                </button>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Overview</a>
        </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
            </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#product-edit-option">Image</a>
        </li>
    </ul>
</div>
<div class="tab-content m-t-15">
    <div class="tab-pane fade show active" id="product-edit-basic">
        <div class="card">
            <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold">Title</label>
                        <input type="text" class="form-control" asp-for="Title" placeholder="Enter Title Category">
                    </div>
                <div class="form-group">
                    <label class="font-weight-semibold">Category</label>
                    <input type="text" class="form-control" asp-for="CatName">
                </div>
                    <div class="form-group">
                        <label class="font-weight-semibold">Image</label>
                        <input name="fThumb" id="fThumb" type="file" class="form-control-file" />
                    </div>
                <div class="form-group">
                    <label class="font-weight-semibold">Status</label>
                        <div class="form-group d-flex align-items-center">
                            <div class="checkbox">
                                <input asp-for="Published" type="checkbox" />
                                <label for="Published">Public</label>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <div class="tab-pane fade" id="product-edit-description">
            <div class="card">
                <div class="card-body">
                    <div id="productDescription">
                        <textarea class="summernote" asp-for="Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    <div class="tab-pane fade" id="product-edit-option">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <img src="~/images/imgsCategory/@Model.Thumb" width="300px" height="200px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</form>
<div>
    <a asp-action="CategoriesList" asp-controller="AdminWarehouse" class="btn btn-outline-primary" asp-area="Admin">Back to List</a>
</div>
@section Scripts{
    <!-- Core Vendors JS -->
    <script src="~/assets/js/vendors.min.js"></script>

    <!-- page js -->
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/js/pages/e-commerce-product-edit.js"></script>
    <script src="~/assets/vendors/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendors/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/pages/e-commerce-order-list.js"></script>
    <script src="~/assets/summernote/summernote-bs4.js"></script>
    <!-- Core JS -->
    <script src="~/assets/js/app.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            $('.summernote').summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
                styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
                height: 200,
                minHeight: null,
                maxHeight: null,
                focus: true
            });
        });
    </script>
}